<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:tx="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Логин</th>
    </tr>

    <td th:utext="${user.id}">UserId</a></td>
    <td th:utext="${user.firstName}">firstName</td>
    <td th:utext="${user.lastName}">lastName</td>
    <td th:utext="${user.username}">username</td>
    </tr>
    </tr>
</table>
<p><a th:href="@{/logout}">Logout</a></p>

</body>

</html>