<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Пользователи</title>
</head>
<body>
<nav class="navbar bg-dark navbar-dark fixed-top">
    <form class="form-inline">
        <strong><span class="navbar-text text-white" th:text="${user.username}"></span></strong>
        <span class="navbar-text text-white">&nbsp with roles: &nbsp</span>
        <span class="navbar-text text-white"><a th:each="role: ${user.getRoles()}"
                                                th:text="${role.name}+' '"></a> </span>
    </form>
    <ul class="navbar-nav float-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<div class="container-fluid bg-light">
    <div class="row">
        <!-- Левый блок -->
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br/>
                <br/>
                <br/>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 bg-light"><br><br><br>
            <h1>Admin Panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#user_table">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add_user">New User</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container-fluid active" id="user_table">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>All users</h6></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br/>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tr>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td><a th:each="role : ${user.getRoles}" th:text="${role.name} + ' '"></a></td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#edit' + user.getId()}">Edit
                                        </button>
                                        <div class="modal" th:id="${'edit' + user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Edit user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/admin/edit/{id}(id=${user.getId()})}"
                                                                  th:object="${user}" th:method="patch">

                                                                <strong><label for="eId">ID: </label></strong>
                                                                <br/>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.getId()}" id="eId" name="id">
                                                                <br/>
                                                                <strong><label for="firstName">First
                                                                    Name: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.firstName}" id="firstName"
                                                                       name="firstName"
                                                                       required minlength="3" maxlength="50">
                                                                <br/>

                                                                <strong><label for="lastName">Last Name: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getLastName()}" id="lastName"
                                                                       name="lastName">
                                                                <br/>

                                                                <strong><label for="age">Age: </label></strong>
                                                                <br/>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.getAge()}" id="age" name="age">
                                                                <br/>

                                                                <strong><label for="eEmail">Email: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getUsername()}" id="eEmail"
                                                                       name="username"
                                                                       required minlength="3" maxlength="50">
                                                                <br/>

                                                                <strong><label
                                                                        for="ePassword">Password: </label></strong>
                                                                <br/>
                                                                <input type="password" class="form-control"
                                                                       th:value="${user.getPassword()}" id="ePassword"
                                                                       name="password">
                                                                <br/>
                                                                <select multiple class="form-control w-100"
                                                                        id="editRoles" name="checked">
                                                                    <option
                                                                            th:each="role : ${roleList}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.getName()}">
                                                                    </option>
                                                                </select>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-info"
                                                                           value="Edit"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#delete' + user.getId()}">Delete
                                        </button>

                                        <div class="modal" th:id="${'delete' + user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Delete user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/admin/delete/{id}(id=${user.getId()})}"
                                                                  th:object="${user}" th:method="delete">


                                                                <strong><label for="eId">ID: </label></strong>
                                                                <br/>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.getId()}" id="dId" name="id">
                                                                <br/>
                                                                <strong><label for="firstName">First
                                                                    Name: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.firstName}" id="dFirstName"
                                                                       name="firstName"
                                                                       required minlength="3" maxlength="50">
                                                                <br/>

                                                                <strong><label for="lastName">Last
                                                                    Name: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getLastName()}" id="dLastName"
                                                                       name="lastName">
                                                                <br/>

                                                                <strong><label for="age">Age: </label></strong>
                                                                <br/>
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.getAge()}" id="dAge" name="age">
                                                                <br/>

                                                                <strong><label for="eEmail">Email: </label></strong>
                                                                <br/>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getUsername()}" id="dEmail"
                                                                       name="username"
                                                                       required minlength="3" maxlength="50">
                                                                <br/>

                                                                <strong><label
                                                                        for="ePassword">Password: </label></strong>
                                                                <br/>
                                                                <input type="password" class="form-control"
                                                                       th:value="${user.getPassword()}" id="dPassword"
                                                                       name="password">
                                                                <br/>
                                                                <select multiple class="form-control w-100"
                                                                        id="deditRoles" name="checked">
                                                                    <option
                                                                            th:each="role : ${roleList}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.getName()}">
                                                                    </option>
                                                                </select>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-danger"
                                                                           value="Delete"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container-fluid fade" id="add_user">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>Add new user</h6></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white text-center">
                            <br/>
                            <form th:action="@{/admin/new}" th:object="${newUser}" method="post">

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="firstName">First name: </label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{firstName}"
                                               id="nfirstName"
                                               placeholder="First Name" required minlength="3" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="LastName">Last name: </label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{lastName}"
                                               id="nLastName"
                                               placeholder="Last Name" required minlength="3" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="age">Age: </label></strong>
                                        <br/>
                                        <input type="number" class="form-control" th:field="*{age}" id="nAge"
                                               placeholder="Age" required minlength="3" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nEmail">Email: </label></strong>
                                        <br/>
                                        <input type="text" class="form-control" th:field="*{username}" id="nEmail"
                                               placeholder="Email" required minlength="3" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nPassword">Password: </label></strong>
                                        <br/>
                                        <input type="password" class="form-control" th:field="*{password}"
                                               id="nPassword"
                                               placeholder="Password" required>
                                    </div>
                                </div>


                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <label for="roles">Select roles: </label>
                                        <select multiple class="form-control w-100" id="roles" name="checked">
                                            <option
                                                    th:each="role : ${roleList}"
                                                    th:text="${role.getName()}"
                                                    th:value="${role.getId()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">
                                    Add new user
                                </button>
                                <br/>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>